/*
    These variables are intended to support theming of components. Override any value to create your own look and feel.
*/

// Theme colors
@ffe-var-primary-color: #de1a21; /* Links, buttons and similar */
@ffe-var-primary-color-dark: @ffe-farge-vann-70;
@ffe-var-secondary-color: @ffe-farge-fjell; /* Headings, labels, hover, etc */
@ffe-var-secondary-color-dark: @ffe-farge-vann-30;
@ffe-var-border-color: #495057; /* Form element borders */
@ffe-var-border-color-dark: @ffe-farge-graa; /* Form element borders, dark mode */

// Fonts
@ffe-var-font: 'SpareBank1-regular', 'MuseoSans-500', arial, sans-serif; /* Default font */
@ffe-var-font-heading: 'SpareBank1-title-medium', 'MuseoSansRounded-700', arial,
    sans-serif; /* h1 - h2 */
@ffe-var-font-heading-small: 'SpareBank1-medium', 'MuseoSansRounded-700', arial,
    sans-serif; /* h3 - h6 */
@ffe-var-font-strong: 'SpareBank1-medium', 'MuseoSansRounded-700', arial,
    sans-serif; /* Bold text */
@ffe-var-font-italic: 'SpareBank1-italic', 'MuseoSans-500', arial, sans-serif; /* Emphasized text */

// Typography
@ffe-var-text-color: @ffe-farge-svart; /* Default body text color */
@ffe-var-text-color-dark: @ffe-farge-lysgraa; /* Default body text color, dark mode */
@ffe-var-lead-color: @ffe-farge-fjell; /* Lead paragraph */
@ffe-var-lead-color-dark: @ffe-farge-hvit; /* Lead paragraph, dark mode */
@ffe-var-heading-color: @ffe-farge-fjell; /* Headings */
@ffe-var-heading-color-dark: @ffe-farge-vann-70; /* Headings, dark mode */
@ffe-var-link-color: @ffe-var-primary-color; /* Links */
@ffe-var-link-color-hover: #891212;
@ffe-var-link-color-visited: #891212;
@ffe-var-link-color-dark: @ffe-farge-vann-70; /* Links, dark mode */
@ffe-var-link-color-hover-dark: @ffe-farge-vann-30;
@ffe-var-link-color-visited-dark: @ffe-farge-lyng-70;

// Buttons
@ffe-var-button-text: @ffe-farge-hvit; /* Common button text color */
@ffe-var-button-text-dark: @ffe-farge-svart;

@ffe-var-button-primary: @ffe-var-primary-color; /* Background color */
@ffe-var-button-primary-dark: @ffe-farge-vann-70;
@ffe-var-button-primary-hover: #891212;
@ffe-var-button-primary-hover-dark: @ffe-farge-vann-30;
@ffe-var-button-primary-text: @ffe-var-button-text;
@ffe-var-button-primary-text-dark: @ffe-var-button-text-dark;

@ffe-var-button-action: #404040; /* Background color */
@ffe-var-button-action-dark: @ffe-farge-nordlys;
@ffe-var-button-action-hover: #000;
@ffe-var-button-action-hover-dark: @ffe-farge-nordlys-30;
@ffe-var-button-action-text: @ffe-var-button-text;
@ffe-var-button-action-text-dark: @ffe-var-button-text-dark;

@ffe-var-button-tertiary: @ffe-farge-svart; /* Text color */
@ffe-var-button-tertiary-dark: @ffe-farge-vann-70;
@ffe-var-button-tertiary-hover: @ffe-var-primary-color;
@ffe-var-button-tertiary-hover-dark: @ffe-farge-vann-30;
@ffe-var-button-tertiary-text: @ffe-var-button-text;
@ffe-var-button-tertiary-text-dark: @ffe-var-button-text-dark;

/* Secondary buttons (+ task, back, expand, etc) are inverted */
@ffe-var-button-secondary: #000; /* Text/border color - background on hover */
@ffe-var-button-secondary-dark: @ffe-farge-vann-70;
@ffe-var-button-secondary-hover: @ffe-farge-fjell;
@ffe-var-button-secondary-hover-dark: @ffe-farge-vann-30;
@ffe-var-button-secondary-bg: #d6d6d6; /* Background color - text on hover/focus */
@ffe-var-button-secondary-bg-dark: @ffe-var-button-text-dark;

// Shapes
@ffe-var-border-radius: 2px; /* Form elements */
@ffe-var-border-radius-buttons: 6em; /* Button border radius renders as 50% */
